.post-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 25px;
}

.post-container {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 600px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-image {
  max-width: 100%;
  height: auto;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.post-description {
  margin-bottom: 10px;
}

.post-created {
  color: #888;
  margin-bottom: 10px;
}

.edit-button,
.delete-button {
  background-color: grey;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
