.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 50px;
}

.login-container,
.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  background-color: grey;
  transition: background-color 0.3s;
}

@media screen and (max-width: 600px) {
  .page-container {
    flex-direction: column;
    gap: 25px;
  }
}
